--color-grays-100: #000;
--color-grays-80: #323232;
--color-grays-65: #737373;
--color-grays-40: #999;
--color-grays-22: #bfbfbf;
--color-grays-04: #f4f4f4;
--color-white: #fff;
--color-brand-grays-100: #354541;
--color-brand-grays-75: #525c59;
--color-brand-grays-50: #8d9795;
--color-brand-grays-25: #c6cccb;
--color-brand-grays-10: #e1e6e5;
--color-brand-grays-05: #eef0ef;
--color-brand-screen-red: #ff2c00;
--color-brand-frontend-grey: #d2dcdc;
--color-brand-screen-green: #00da72;
--color-brand-screen-blue: #4042ee;
--color-brand-boost-yellow: #e2f700;
--color-brand-perfect-pink: #ff92b7;
--color-brand-matrix-green: #2c4942;
--color-bg: var(--color-white);
--color-text-primary: var(--color-brand-grays-100);
--color-text-secondary: var(--color-brand-grays-75);
--color-heading: var(--color-grays-100);
--color-underline: #ffc100;
--color-hr: var(--color-brand-grays-25);
--color-link: var(--color-brand-grays-100);
--color-link-hover: var(--color-grays-100);
--shadow-small: 0 4px 4px rgba(53, 69, 65, 0.07), 0 1px 2px rgba(53, 69, 65, 0.04);
--shadow-big: 0 4px 32px 2px rgba(53, 69, 65, 0.09), 0 2px 4px rgba(53, 69, 65, 0.05);
--shadow-button: 0 4px 18px rgba(53, 69, 65, 0.14), 0 2px 6px rgba(53, 69, 65, 0.06);
--shadow-button-hover: 0 6px 32px rgba(53, 69, 65, 0.18), 0 3px 10px rgba(53, 69, 65, 0.07);